{% extends "base.html" %}

{% block page_content %}
<div class="container-fluid">
    <nav class="nav navbar-expand-md navbar-dark bg-dark justify-content-center">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link">About</a>
                <a href="#" class="nav-item nav-link">Skills</a>
                <a href="#" class="nav-item nav-link">Portfolio</a>
                <a href="#" class="nav-item nav-link">Education</a>
                <a href="#" class="nav-item nav-link">Experience</a>
                <a href="#" class="nav-item nav-link">Contact Me</a>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <h1>About Me</h1>
        <h2>Mykal Bailey</h2>
        <p>Software Developer</p>
        <p><a href="#" class="btn btn-primary btn-md">Downloadable Resume</a></p>
    </div>
    <div class="jumbotron">
        <h1>Skills</h1>
        <ul>
            <li>Python</li>
            <li>Django</li>
            <li>Flask</li>
            <li>Javascript</li>
            <li>HTML/CSS</li>
            <li>Bootstrap</li>
        </ul>
    </div>
    <div class="jumbotron">
        <h1>Portfolio</h1>
        <div class="card" style="width: 300px;">
          <img src="static/images/myMinesweeper_image_1.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
              <h5 class="card-title">myMinesweeper</h5>
              <p class="card-text">A game created using Python, JavaScript, and HTML. Its modern design allows for a more visually pleasing gameplay experience. myMinesweeper is created for both web and desktop.</p>
              <a href="#" class="btn btn-primary">View Profile</a>
          </div>
        </div>
    </div>
    <div class="jumbotron">
        <h1>Education</h1>
    </div>
    <div class="jumbotron">
        <h1>Experience</h1>
    </div>
    <div class="jumbotron">
        <h1>Contact Me</h1>
    </div>
</div>
{% endblock %}